@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 25px;
  width: auto;
  background-color: #e6f3ff;
}

.navbar {
  background-color: #87cefa;
  border-radius: 5px;

  position: fixed;
  top: 0;
  width: 97%;
  overflow: hidden;

  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: #217a31;
  color: #fff;
  cursor: pointer;
}

#scroll-to-top:hover {
  background-color: #76a003;
}

.cards {
  margin-top: 100px;
}

.btn-space {
  margin: 8px;
}

.likes {
  font-size: 20px;
}

a {
  text-decoration: none;
}

footer {
  background-color: #e6f3ff;
  text-align: center;
  padding: 10px;
}

/* 카드에 있는 이미지 크기 통일하기 */
.postimg {
  width: 100%;
  /* Adjust the height vw */
  height: 15vw; 
  object-fit: cover;
}

.cards {
  border-radius: 30%;
}

.postimg {
  border-radius: 10px;
  padding: 5px;
}


.navbar {
  background-color: #87cefa;
  border-radius: 5px;

  position: fixed;
  top: 0;
  width: 97%;
  overflow: hidden;

  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.btn-space {
  margin: 8px;
}

.navbar a:hover {
  background-color: #4682b4;
  color: white;
  border-radius: 5px;
}

.by-location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;

  margin-top: 100px;
}

.by-location a {
  color: #0e0d0d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color: rgb(19, 121, 155);
}

.by-location a:hover {
  background-color: #87ceeb;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  width: 100px;
}

.card:hover {
  border-color: rgb(13, 110, 253);
  box-shadow: 0px 0px 10px 2px rgb(13, 110, 253);
  transform: scale(1.1);
}
