@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 25px;
  width: auto;
  background-color: #e6f3ff;
}

.navbar {
  background-color: #87cefa;
  border-radius: 5px;

  position: fixed;
  top: 0;
  width: 97%;
  overflow: hidden;

  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.btn-space {
  margin: 8px;
}

.navbar a:hover {
  background-color: #4682b4;
  color: white;
  border-radius: 5px;
}

.header {
  background-color: #e6f3ff;
  text-align: center;
  padding: 30px;
  padding-top: 35px;
  font-size: 40px;
}

.header img {
  width: 600px;
  height: 300px;
}

.by-location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;
}

.by-location a {
  color: #0e0d0d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color: rgb(19, 121, 155);
}

.by-location a:hover {
  background-color: #87ceeb;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  width: 100px;
}

footer {
  background-color: #e6f3ff;
  text-align: center;
  padding: 10px;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: #217a31;
  color: #fff;
  cursor: pointer;
}

#scroll-to-top:hover {
  background-color: #76a003;
}

.likes {
  font-size: 20px;
}

a {
  text-decoration: none;
}

/* 카드에 있는 이미지 크기 통일하기 */
.postimg {
  width: 100%;
  /* Adjust the height vw */
  height: 15vw;
  object-fit: cover;
}

.cards {
  border-radius: 30%;
  min-height: 500px;
}

.postimg {
  border-radius: 10px;
  padding: 5px;
}

.header img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  opacity: 0.9;
  margin-top: 50px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.page-link {
  font-size: 20px;
}
