@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 25px;
  width: auto;
  background-color: #f2f2f2;;
}

.navbar {
  background-color: #87CEFA;
  border-radius: 5px;

  position: fixed;
  top: 0;
  width: 97%;
  overflow: hidden;

  z-index: 1;
}

.navbar a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #4682B4;
  color: white;
  border-radius: 5px;
}

  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 30px;
    padding-top: 35px;
    font-size: 40px;
  }

  .header img {
    width:600px;
    height: 300px
  }

  .by-location {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .by-location a{
    color: #0e0d0d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
  }
  
  .by-location a:hover {
    background-color: #87CEEB;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    width: 100px;
  }

  footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }

  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: #217a31;
    color: #fff;
    cursor: pointer;
  }

  #scroll-to-top:hover {
    background-color: #76a003;
  }