@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 25px;
  width: auto;
  background-color: #e6f3ff;
}

.navbar {
  background-color: #87cefa;
  border-radius: 5px;

  position: fixed;
  top: 0;
  width: 97%;
  overflow: hidden;

  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  width: 60%;
}

.desc {
  display: flex;
  justify-content: center;
}

.desc p {
  width: 60%;
}

.formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form {
  align-items: center;
  justify-content: center;
  width: 70%;
}

footer {
  text-align: center;
  padding: 10px;
}