<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전국팔도 구석구석</title>
  <!-- bootstrap css cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- https://flask.palletsprojects.com/en/3.0.x/quickstart/#static-files -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css')}}">
</head>

<body>
  <div>
    <nav class="navbar">
      <a href="{{url_for('byuser')}}">테스트</a>
      <a href="{{url_for('registration')}}">여행지 추천하기</a>
      <a href="{{url_for('getLogin')}}">로그인</a>
    </nav>

    <div class="header">
      <img src="https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_640.png" alt="travel bag">
      <h1>전국팔도 구석구석</h1>
    </div>

    <div class="by-location">
      <a href="">서울</a>
      <a href="">부산</a>
      <a href="">대전</a>
      <a href="">대구</a>
    </div>

    <div class="cards">
      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-85 pb-5">
        <!-- 여행지 사진 리스트의 각 항목에 대해서 반복문을 실행한다 -->
        {% for favorite in data %}
        <div class="col">
          <div class="card h-100">
            <img src="{{favorite.image_url}}"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{favorite.title}}</h5>
              <p class="card-text">{{favorite.location}}</p>
              <p class="card-text">{{favorite.description}}</p>
              <p class="card-text">추천인: {{favorite.user_id}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <footer class="footer">
      <p>All rights reserved.</p>
    </footer>
  </div>
  <!-- bootstrap js cdn -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>
