<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 | 전국팔도 구석구석</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="{{url_for('home')}}">HOME 🏚️</a>
      </nav>
      <h1>로그인</h1>
    </header>
    <main>
      <form action="" method="POST">
        <label for="username">유저 아이디</label>
        <input
          id="username"
          name="username"
          type="text"
          placeholder="아이디를 입력하세요"
          required
        />
        <label for="password"> 비밀번호</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="비밀번호를 입력하세요"
          required
        />
        <div>
          <p style="color: red">{{error_message}}</p>
        </div>
        <button type="submit">로그인</button>
      </form>
      {% if error_message %} {% endif %}

      <div>
        <small>아이디가 없으신가요?</small>
        <a href="/signup"><span>회원가입</span></a>
      </div>
    </main>
  </body>
</html>
