<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data.title}} | 전국팔도 구석구석</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/post.css')}}"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="{{url_for('home')}}">HOME 🏚️</a>
      {% if not user %}
      <a href="{{url_for('getLogin')}}">로그인</a>
      {% endif %} {% if user %}
      <a href="{{url_for('registration')}}">여행지 추천하기</a>
      <a class="logout" href="/">로그아웃</a>
      {% endif %}
    </nav>
    <header>
      <h1>{{data.title}}</h1>
      <div>
        <p>추천 by {{data.user_id}}</p>
        <p>{{data.location}}</p>
      </div>
    </header>
    <main>
      <div class="img">
        <img src="{{data.image_url}}" alt="" />
      </div>
      <div class="desc">
        <p>{{data.description}}</p>
      </div>

      {% if is_owner %}
      <div class="formdiv">
        <form
          class="text-center form"
          action="{{ url_for('edit_post', id=data.id) }}"
          method="POST"
        >
          제목: <input type="text" placeholder="제목 변경" name="title" /> 장소:
          <input type="text" placeholder="장소 변경" name="location" /> 설명:
          <textarea placeholder="내용 변경" name="description"></textarea>
          <input
            type="submit"
            class="btn btn-light mybtn"
            value="게시물 수정하기"
          />
        </form>
        <form
          class="text-center form"
          action="{{ url_for('delete_post', id=data.id) }}"
          method="POST"
        >
        <button type="submit" class="delete-btn btn-light mybtn">
          게시물 삭제하기
        </button>
        </form>
      </div>
      {% endif %}
    </main>
    <footer>
      <p>All rights reserved.</p>
    </footer>
  </body>
</html>
