<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>여행지 등록 | 전국팔도 구석구석</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">여행지 등록</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}">홈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('getLogin')}}">로그인</a>
        </li>
      </ul>
    </nav>

    <!-- <label for="title">제목 :</label>
    <input type="text" class="form-control" id="title" name='title' placeholder="제목 입력">
  </div>
  <div class="form-group">
    <label for="description">설명 :</label>
    <textarea class="form-control" id="description" name='explanation' rows="3" placeholder="설명 입력"></textarea>
  </div>
  <div class="form-group">
    <label for="photo">이미지url :</label>
    <input class="form-control" id="image_url" name='image_url' placeholder="imge url"></input>
    </div>
    <div class="form-group">
      <label for="location">위치 :</label>
      <input class="form-control" id="location" name='location' placeholder="위치 입력"></input>
    </div>
    <button type="submit" class="btn btn-primary">등록하기</button>
    <select class="form-select" aria-label="지역 선택" id="regionDropdown"></select>
    <option class="dropdown-item" href="#">서울특별시</option>
    <option class="dropdown-item" href="#">대전광역시</option>
    <option class="dropdown-item" href="#">대구광역시</option>
    <aoption class="dropdown-item" href="#">부산광역시</aoption>
  </form>
</div> -->

    <div class="container mt-5">
      <h2>여행지 등록</h2>
      <form action="/create/" method="post">
        <div class="form-group">
          <label for="title">제목 :</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="제목 입력"
          />
        </div>
        <div class="form-group">
          <label for="description">설명 :</label>
          <textarea
            class="form-control"
            id="description"
            name="explanation"
            rows="3"
            placeholder="설명 입력"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="photo">이미지url :</label>
          <input
            class="form-control"
            id="image_url"
            name="image_url"
            placeholder="imge url"
          />
        </div>
        <!-- <div class="form-group">
      <label for="location">위치 :</label>
      <input class="form-control" id="location" name='location' placeholder="위치 입력"></input>
    </div> -->

        <button type="submit" class="btn btn-primary">등록하기</button>
        <div class="btn-group ml-3">
          <select
            name="location"
            class="form-select"
            aria-label="Default select example"
            required
          >
            <div class="dropdown-menu">
              <option class="dropdown-item" value="">
                --지역을 선택하세요--
              </option>
              <option class="dropdown-item" href="#">서울특별시</option>
              <option class="dropdown-item" href="#">대전광역시</option>
              <option class="dropdown-item" href="#">대구광역시</option>
              <option class="dropdown-item" href="#">인천광역시</option>
              <option class="dropdown-item" href="#">부산광역시</option>
            </div>
          </select>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
