<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>등록 | 전국팔도 구석구석</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
</head>

<body>
  <div>
    <nav class="navbar d-flex justify-content-center">
      <a href="{{url_for('byuser')}}">테스트</a>
      <a href="{{url_for('getLogin')}}">로그인</a>
    </nav>



<main>
<header>
<div class="fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="dialog" role="document">
      <header class="content">
        <div class="header">
          <h1 class="title" id="exampleModalLabel">여행지 등록</h1>
        </div>
      </header>
        <div class="body">
          <form class="container"id="travelForm" onsubmit="submitForm(event)">
            <label for="location">위치:</label>
            <input type="text" id="location" name="location" required><br><br>
  
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required><br><br>
  
            <label for="description">설명:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
  
            <label for="imageUrl">사진 URL:</label>
            <input type="text" id="imageUrl" name="imageUrl" required><br><br>
            <button type="submit" class="btn btn-success">등록하기</button>
            <!-- drop down button -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                지역tag
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">서울</a></li>
                <li><a class="dropdown-item" href="#">대전</a></li>
                <li><a class="dropdown-item" href="#">부산</a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>


</body>
</html>