<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전국팔도 구석구석</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/post.css')}}"
    />
</head>
<body>
    <nav class="navbar">
      <a href="{{url_for('home')}}">HOME 🏚️</a>
    </nav>
    <header>
        <h1>{{post.title}}</h1>
        <div>
          <p>추천 by {{post.user_id}}</p>
          <p>{{post.location}}</p>
        </div>
      </header>
      <main>
        <div class="img">
          <img src="{{post.image_url}}" alt="" />
        </div>
        <div class="desc">
          <p>{{post.description}}</p>
        </div>
      </main>
      <footer class="footer">
        <p>All rights reserved.</p>
      </footer>
</body>
</html>